Package: com.iosrouter.iosroutermode
Name: IosrouterMode
Version: 1.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: ios
Author: iosrouter
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
