Package: com.iosrouter.iosroutermode
Name: IosrouterMode
Version: 2.0.0
Architecture: iphoneos-arm
Description: WinterMode, iosrouter style
Maintainer: iosrouter
Author: iosrouter
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
