Package: com.iosrouter.iosroutermode
Name: IosrouterMode
Version: 1.0.2
Architecture: iphoneos-arm
Description: WinterMode, iosrouter style
Maintainer: ios
Author: iosrouter
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
